
.icon-right:before { content: '\e800'; } /* '' */
.icon-graph-up-arrow:before { content: '\e801'; } /* '' */
.icon-basket3:before { content: '\e802'; } /* '' */
.icon-database:before { content: '\e803'; } /* '' */
.icon-whatsapp:before { content: '\e804'; } /* '' */
.icon-linkedin:before { content: '\e805'; } /* '' */
.icon-github:before { content: '\e806'; } /* '' */
.icon-instagram:before { content: '\e807'; } /* '' */
.icon-telegram:before { content: '\e808'; } /* '' */
.icon-inbox:before { content: '\e809'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
